
.details-container {
    display: flex;
    flex-direction: row;

}

.img-container {
    position: relative;
    height: 400px;
    margin-left:5%;
    margin-top:1.5%;
    margin-right: 8%;
}

.info-container { 
    text-decoration: none;
    color: rgb(104, 104, 104);
    font-size: 2rem;
    margin-top:1.5%;
    text-align: left;
    display: flex;
    flex-direction: column;

}

.book-title { 
    Font-size: 2rem;
}

.img-cover {
    display: flex;
    flex-grow: 0;
    position: relative;
    top: -380px;
    opacity: .4;
    background-color: white;
    height: 359px;
    z-index: 0;
    display: none;
}

.cart-button {
    position: relative;
    top: -575px;
    padding: 1rem 2rem;
    max-height: 50px;
    border: none;
    box-shadow: 3px 3px 10px black;
    background-color: #8E1313;
    color: white;
    font-weight: bold; 
    display: none;
    left: 70px;
}



.img-container:hover .img-cover {
    display: flex;
}

.img-container:hover .cart-button {
    display: inline-block;
}

.book-img {
    height:380px
}